.Fabout{
    background-color: rgb(34, 34, 34);
    min-width: 100%;
    min-height: 90vh;
    padding: 15px 20px;
}
.Fabout h1{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 40px;
}
.Fabout p{
    color: white;
    font-size: 18px;
}
.Fabout img {
    border-radius: 45px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}