.FA_Login-container{
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000090;
    background-size: cover;
}
.FA_Form-Login{
    border: none;
    min-width: 300px;
    padding: 15px 50px;
    background-color: rgba(229, 185, 14);
    border-radius: 15px;
    animation: fadeIn 0.5s;
}
.FA_Form-Signinpage {
    width: 300px;
}
.FA_Login-top{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
.FA_Login-top h2{
    float: left;
    font-size: 25px;
}
.FA_Login-top span i{
    font-size: 28px;
}
.FA_form-Field{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
.FA_form-Field label{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
    margin-left: 5px;
}
.FA_form-Field input{
    font-size: 17px;
    outline: none;
    border: 1px solid #c9c9c9;
    font-weight: 600;
    padding: 8px;
    padding-left: 10px;
    border-radius: 20px;
}
.FA_form-terms{
    width: 290px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-top: 10px;
    gap: 8px;
}
.FA_form-terms input{
    margin-top: 6px;
}
.FA_form-acc{
    text-align: center;
}
.FA_form-Field-btn {
    width: 100%;
    margin-top: 20px;
    outline: none;
    border: none;
    height: 38px;
    font-weight: 600;
    border-radius: 25px;
    border: 2px solid rgb(34, 34, 34) ;
    background-color: transparent;
    color: rgb(34, 34, 34);
    font-size: 18px;
    padding: 0;
}
.FA_form-Field-btn:hover{
    background-color: white;
    color: orange;
    border: 1px solid goldenrod ;
}
.FA_form-Field input::placeholder{
    font-size: 15px;
    font-weight: normal;
}
.FA_form-Field span{
    color: #e74c3c;
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    display: block;
}
.FA_Form-signup{
    display: flex;
}
.FA_form-btm{
    min-width: 90%;
}
.FA_form-privacy{
    width: 260px;
}
